body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 7fr;
  grid-template-areas: 
    'title'
    'info'
    'filter'
    'map';
}

.title {
  grid-area: title;
  text-align: center;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #75cff086;
}

.bus-icon{
  margin-right: 18px;
  margin-bottom: 8px;
}

.filter{
  grid-area: filter;
  width: 80%;
  margin-left: 10%;
  display: flex;
}

.buses-qty {
  text-align: center;
  margin-right: 20px;
  width: 120px;
  height: 50%;
  transform: translateY(30%);
}

.filter-container {
  width: 80%; 
}

.filter-form {
  height: 50px;
}

.info {
  grid-area: info;
  margin-left: 2%;
  margin-right: 2%;
}

.map {
  grid-area: map;
}

.loading{
  grid-row: 4;
  grid-column: 1;
  z-index: 10;
  background: RGBA(255,255,255,0.75);
  height: 48px;
  width: 100%;
  text-align: center;
  gap: 48px;
}

.spinner{
  margin-right: 24px;
  margin-top: 4px;
}